<form #movieForm="ngForm" (ngSubmit)="submitNewMovie()">
  {{diagnostic}}

  <div class="form-group">
    <label for="title">Title</label>
    <input type="text"  class="form-control" id="title"
            required
           [(ngModel)]="newMovie.title" name="title">
  </div>

  <div class="form-group">
    <label for="img">img</label>
    <input type="text" class="form-control" id="img"
           required
           [(ngModel)]="newMovie.img" name="img">
  </div>

  <button type="submit" class="btn btn-success" [disabled]="!movieForm.form.valid">Submit</button>

</form>
