/* Global */
body, html {
  font-family: 'Roboto';
}

body {
  background: #2b5876;
  background: -webkit-linear-gradient(to top left, #4e4376, #2b5886);
  background: linear-gradient(to top left, #4e4376, #2b5886);
}

/* D3 Graph */
.graph {
  margin-top: 8px;
  /*background: rgba(20,20,20,0.7);*/
}

path {
  stroke: lightgray;
  stroke-width: 0.5px;
  fill: #444;
  opacity: 0.7;
}
