<p>
  home works!
</p>
<!-- Movie DB Header -->
<div class="col-md-12">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">Title</div>
    <div class="col-md-1">Year</div>
    <div class="col-md-1"></div>
    <div class="col-md-2">Watch</div>
  </div>
</div>

<!-- Movie DB Row -->
<div class="movie-db-row col-md-12">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">Airplane! The extrordianary sequla</div>
    <div class="col-md-1">1984</div>
    <div class="col-md-1">D</div>
    <div class="col-md-2">+</div>
  </div>
</div>
